/* Dashboard SideNav */
.dashboard-wrapper {
    display: flex;
}

.dashboard-body {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.add-slot-field {
    flex-basis: calc(50% - 0.5rem);
}

.time-picker-field {
    width: 100%;
    padding: 0.3rem;
    background-color: #ffffff;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
}

.time-picker-field:hover {
    border-color: hsl(0, 0%, 70%);
}